body{
  background-color: #436c70 !important;
  position: relative;
  font-family: 'Averia Sans Libre', cursive !important;
}
.app{
  border: 2px solid #fff;
  width: 70%;
  margin: 8% auto;
  padding: 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.app h2{
  color: #fff;
  margin: 15px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 35px;
}
label{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 25px;
}
input{
  border: 2px solid #436c70 !important;
  background-color: #f2fafd !important;
  margin-bottom: 10px;
  outline: none !important;
  box-shadow: none !important;
  color: #436c70 !important;
  font-weight: bold !important;
  font-size: 20px !important;
}
input::placeholder{
  color: #436c70 !important;
  font-size: 20px;
}
.btn-primary{
  background-color: #2b5458a6 !important;
  border: 2px solid #fff !important;
  outline: none !important;
  box-shadow: none !important;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px !important;
  letter-spacing: 2px;
}
.pri i  , .btn-danger i {
  margin-right: 5px;
  font-size: 25px;
}
.btn-danger{
  background-color: #fff !important;
  border:none !important;
  outline: none !important;
  box-shadow: none !important;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #2b5458a6 !important;
  font-size: 20px !important;
  letter-spacing: 2px;
  color: #436c70 !important;
  font-weight: bolder !important;
}
.list-group-item{
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.list-group-item div , .list-group-item button{
  width: 100%;
  color: #fff;
  background-color: #436c70;
  margin: 3px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}
@media(max-width:770px){
  .app{
      margin: 28% auto;
  }
}